@import 'reset';


        .bar {
            font: 10px sans-serif;
            background-color: #666;
            text-align: left;
            padding: 3px;
            margin: 1px;
            color: white;
            
            &.new {
                background-color: steelblue;
            }
        }

.chart {
    width: 500px;
}